@import url('https://fonts.cdnfonts.com/css/tox-typewriter');
@import url('https://fonts.cdnfonts.com/css/din-next-slab');
@import url('//db.onlinewebfonts.com/c/c11f09354fd4806c55145d568617bf1a?family=Mocha+Mattari');

h1 {
    font-family: 'mocha mattari';
    font-size: 48px;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1cm;
}

h2 {
    font-family: 'DIN Next Slab', sans-serif;
    font-size: 18px;
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}


