@use "colors" as *;
@use "typography" as *;

.countdown-col {
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    height: 50vh;
    h1 {
        font-family: 'Mocha Mattari';
        color: $fourth-color;
        font-size: 70px;
        text-align: center;
    }
    p {
        color: $sixth-color;
        font-family: 'Tox Typewriter', sans-serif;
        font-size: 24px;
        text-align: center;
    }
    .countdown {
        display: flex;
        transform: scale(2);
        .time {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15px;
            margin-top: 50px;
            font-family: 'DIN Next Slab', sans-serif;
            color: $fourth-color;
            h2 {
                font-size: 45px;
                line-height: 1;
                margin: 0 0 5px;
                font-family: 'DIN Next Slab', sans-serif;
                color: $fourth-color;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .countdown-col {
        height: 40vh;
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 18px;
            margin-bottom: 50px;
        }
        .countdown {
            .time {
                margin: 15px 10px;
                h2 {
                    font-size: 30px;
                }
                small {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .countdown-col {
        h1 {
            font-size: 45px !important;
        }
        .countdown {
            .time {
                h2 {
                    font-size: 24px;
                }
            }
        }
    }
}

.instagram-account {
    background-image: url(../img/texture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    height: 450px;
    /*instagram tekst begynder*/
    .insta-left{
        display: inline;
        align-self: center;
        box-sizing: border-box;
        h1 {
            font-family: 'Mocha Mattari';
            color: $fourth-color;
            font-size: 90px;
            text-align: center;
        }
        p {
            color: $fifth-color;
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 24px;
            text-align: center;
        }
        .instagram-button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: 0.3s;
            margin-top: 70px;
            a {
                font-family: 'DIN Next Slab', sans-serif;
                color: $fourth-color;
                padding: 15px 50px;
                border-radius: 8px;
                font-size: 16px;
                transition: 0.3s;
                background-color: $primary-color;
            }
            a:hover {
                border: 1px solid $fourth-color;
            }
        }
    }
    /*instagram tekst ender*/


    /*images fra instagram begynder*/
    .instagram-images {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 85px;
        margin-right: 120px;
        .instagram-images-1 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                width: 350px;
                border-radius: 20px;
            }
        }
        .instagram-images-2 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                width: 350px;
                border-radius: 20px;
            }
        }
        .instagram-images-3 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                width: 350px;
                border-radius: 20px;
            }
        }
    }
    /*images fra instagram ender*/
}


.hjælpecenter {
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 0;
    padding-left: 0;
    display: inline;
    align-self: center;
    h1 {
        font-family: 'Mocha Mattari';
        color: $fourth-color;
        font-size: 50px;
        text-align: center;
        margin: 50px 0 30px 0;
        padding: 0;
    }
    p {
        color: $sixth-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'DIN Next Slab', sans-serif;
    }
    .lør-søn {
        margin-bottom: 35px;
    }
    .hjælpecenter-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
        margin: 50px 0px 70px 0;
        text-align: center;
        a {
            font-family: 'DIN Next Slab', sans-serif;
            color: $fourth-color;
            padding: 15px 50px;
            border-radius: 8px;
            font-size: 16px;
            transition: 0.3s;
            background-color: $secondary-color;
        }
        a:hover {
            border: 1px solid $fourth-color;
        }
        :active {
            border: 2px solid $fourth-color;
        }
    }
}


.nyhedsbrev {
    background-image: url(../img/white-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 0;
    padding-left: 0;
    display: inline;
    align-self: center;
    h1 {
        font-family: 'Mocha Mattari';
        color: $secondary-color;
        font-size: 50px;
        text-align: center;
        margin: 50px 0 70px 0;
    }
    .nyhedsbrev-input {
        display: flex;
        gap: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $third-color;
        margin-bottom: 116px;
        .form-floating {
            label {
                font-family: 'DIN Next Slab', sans-serif;
            }
            .form-control {
                width: 300px;
                border-radius: 8px;
            }
            .form-control:focus {
                box-shadow: none;
            }
        }   
    }

    .nyhedsbrev-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
        margin: 50px 0px 70px 0;
        text-align: center;
        a {
            color: $fourth-color;
            font-family: 'DIN Next Slab', sans-serif;
            padding: 15px 70px;
            border-radius: 8px;
            font-size: 16px;
            transition: 0.3s;
            background-color: $secondary-color;
        }
        a:hover {
            border: 3px solid $primary-color;
        }
        :active {
            border: 3px solid $primary-color;
        }
    }
}

/*media starter*/
@media only screen and (max-width: 1500px) {
    .instagram-account {
        .instagram-images {
            display: flex;
            align-items: center;
            gap: 22px;
            margin-top: 100px;
            margin-right: 50px;
            .instagram-images-1 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-2 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-3 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
        }
    }
}   
        

@media only screen and (max-width: 1400px) {
    .instagram-account {
        .insta-left {
            display: inline;
            h1 {
                font-size: 80px;
            }
        }
        .instagram-images {
            display: flex;
            align-items: center;
            gap: 18px;
            margin-top: 110px;
            margin-right: 50px;
            .instagram-images-1 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-2 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-3 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
        }
    }

    .nyhedsbrev {
        .nyhedsbrev-input {
            gap: 16px;
            .form-floating .form-control {
                width: 250px;
                border-radius: 8px;
            }
        }
    }
}

@media only screen and (max-width: 1355px) {
    .instagram-account {
        .instagram-images {
            margin-right: 20px;
        }
    }
}

@media only screen and (max-width: 1282px) {
    .instagram-account {
        height: 70vh;
        .insta-left{
            h1 {
                margin-top: 50px;
            }
            .instagram-button {
                margin-top: 40px;
            }
        }
        .instagram-images {
            margin: 50px 10px;
            gap: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .nyhedsbrev {
        .nyhedsbrev-input {
            gap: 14px;
            .form-floating .form-control {
                width: 200px;
                border-radius: 8px;
            }
        }
    } 
}

@media only screen and (max-width: 1050px) {
    .instagram-account {
        .insta-left {
            h1 {
                margin-top: 0;
            }
        }
        height: 50vh;
        .instagram-images-1 {
            margin-top: 80px;
        }
        .instagram-images-2 {
            display: none;
        }
    
        .instagram-images-3 {
            display: none;
        }
    }

    .hjælpecenter {
        h1 {
            font-size: 45px;
        }
    }

    .nyhedsbrev{
        h1 {
            font-size: 45px;
        }
    }
}

@media only screen and (max-width: 950px) {
    .instagram-images-1 {
        width: 400px;
    }
}

@media only screen and (max-width: 950px) {
    .hjælp-brev {
        display: flex;
        flex-direction: column;
        .nyhedsbrev {
            .nyhedsbrev-input {
                gap: 24px;
                .form-floating .form-control {
                    width: 300px;
                    border-radius: 8px;
                }
            }
        }
    }  
}

@media only screen and (max-width: 850px) {
    .instagram-account {
        .instagram-images {
            margin-right: 0px;
            padding-left: 0px;
        }
    }
}

@media only screen and (max-width: 736px) {
    .instagram-account {
        height: 70vh;
        .insta-left {
            h1 {
                margin-top: 50px;
            }
        }
        .instagram-images {
            margin-top: 0px;
            margin-right: 0px;
            padding-left: 90px;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 660px) {
    .hjælp-brev {
        display: flex;
        .nyhedsbrev {
            .nyhedsbrev-input {
                gap: 16px;
                margin-bottom: 80px;
                .form-floating .form-control {
                    width: 250px;
                    border-radius: 8px;
                }
            }
            .nyhedsbrev-button {
                margin-top: 0px;
            }
        }

    }  
}
/*media ender*/