@use "typography" as *;
@use "colors" as *;

/*scrolle fra nav smooth*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 250px);
}


/*nav*/
.navbar {
    background-image: url('../img/texture.png');
    min-height: 80px;
    height: 110px;
    position: fixed;
    padding: 0 10% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: none;
    display: flex;
    .logo {
        img {
            height: 90px;
            margin: 10px 0;
        }
    }
    .navbar-language {
        color: $fourth-color;
        font-size: 20px;
        font-family: "DIN Next Slab", sans-serif;
    }
    .navbar-toggler {
        background-color: $primary-color;
        box-shadow: none;
    }
    .offcanvas {
        background-image: url(../img/white-background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        .hamburger-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            img {
                height: 200px; 
            }
        }
        .nav-item {
            padding-left: 80px;
            a {
                color: $third-color;
                padding: 16px 0;
                
            }
            a:hover {
                color: $primary-color;
            }

            #sponsor {
                margin-bottom: 40px;
            }

            .frivillig-button {
                a {
                    background-color: $primary-color;
                    padding: 15px 20px;
                    color: $fourth-color !important;
                    border-radius: 8px;
                    font-family: 'DIN Next Slab', sans-serif;
                    
                }
                a:hover {
                    border: 1px solid $secondary-color;
                }
            }

            .frivillig {
                background-color: $primary-color;
                    padding: 15px 20px;
                    color: $fourth-color !important;
                    border-radius: 8px;
                    font-family: 'DIN Next Slab', sans-serif;
            }

            .frivillig-button {
                :hover {
                    border: 1px solid $secondary-color;
                }
            }
            
        }
        .offcanvas-header {
            .btn-close:focus {
                box-shadow: none;
            }
        }
    }
}



/*frontpage*/

.frontpage {
    height: 100vh;
    background-image: url(../img/baby-back-ribs1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 0 10% !important;
    .text {
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0;
        }

        .fp2 {
            margin-top: -30px;
            margin-bottom: 50px;
            z-index: 2;
        }

        a {
            padding: 15px 60px;
            transition-duration: 0.2s;
            background-color: $primary-color;
            border-radius: 8px; 
            margin-top: 30px;
        }

    }

    
}

* {
    box-sizing: border-box;
}
/*first section after frontpage*/
.firstsection {

     /*the right of the two col*/
    .rightbox {
        background-image: url(../img/pic.png);
        background-size: cover;
        padding: 0;
        right: 0;
        height: 420px;

        .text {
            margin-left: 55px;
        }
    }

    /*the left of the two col*/
    .leftbox {
        background-image: url(../img/grillchicken.jpg);
        background-size: cover;
        height: 420px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

         /*whitebox in the center in the left*/
        .whiteplaster {
            background-image: url(../img/white-plaster-texture.png);
            
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px 40px;

            .content {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .blacklogo {
                    height: 80px;
                    margin-bottom: 8px;
                }

                @media only screen and (max-width: 900px) {
                    .lefth1, .viharalt {
                        display: none;
                    }

                    .blacklogo {
                        margin-bottom: 30px;
                    }
                }

                @media only screen and (max-width: 700px) {
                    .lefth1, .viharalt, .button {
                        display: none;
                    }

                    .blacklogo {
                        margin: 20px 0;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    border: none;
        
                        img {
                            height: 30px;
                            rotate: 270deg;
                        }
        
                        @media only screen and (max-width: 900px) {
                            img {
                                height: 20px;
                            }
                        }
                    }
               
            }
       
            
        
            button:hover { 
            transform: scale(1.1);
            }
        }

        /*mediaresponse to the whiteplaster in the leftbox*/
        @media screen and (max-width: 1150px){

            .whiteplaster {
                width: 80%;
            }
        }
    }
}

/*second section*/
.secondsection {
    
    background-image: url(../img/white-plaster-texture.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 10%;

    .row {
        z-index: 2;
    }

    .gallery {
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: 960px){
        .row {
            flex-direction: column;
            
            .gallery {
                margin-bottom: 40px;
            }

            p {
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }

    .watermark {
        position: absolute;
        opacity: 0.1;
        margin-left: 40%;
        
         img {
             height: 800px;
         }
     }
    
}

/*third section*/

.thirdsection {
    background-image: url(../img/texture.png);
    background-size: cover;
    padding: 0 10%;

    .row {
        padding: 25px 0;
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
        }

    /*toptext*/
    .firstrow {
        padding-top: 80px;
    }
        /*img editing + the next 3 classes*/
        img {
            height: 450px;
            background-color: #f9f9f9;
            border-radius: 20px;
        }

        .cars {
            height: 300px; 
        }

        .kidsque {
            margin: -60px 0 -60px 50px;
        }

        .volunteers{
            margin-top: -40px;
        }
    
    .volunteerscol {
        padding-bottom: 30px;
    }

        @media only screen and (max-width: 1000px) {
            img {
                height: 400px;
            }
            .cars {
                height: 250px; 
            }  
            .kidsque {
                margin: -40px 0 -20px 50px;
            }
            .volunteers{
                margin-top: -40px;
            }
        }

        @media only screen and (max-width: 822px) {
            .row{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .col {
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    padding: 0;
                }
                .textcontent2 {
                    margin: 0;
                }
                img {
                    height: 320px;
                }
                .cars {
                    height: 250px; 
                }  
                .kidsque {
                    margin: 0;
                }
                .volunteers{
                    margin: 0;

                }
            }

            .kidsrow {
                flex-direction: column-reverse;
            }
        }
    
    .textcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    /*kidsque text*/
    .textcontent2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }
    
    

}
    

/*countdown starter*/
.countdown-col {
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    height: 60vh;
    h1 {
        font-family: 'Mocha Mattari';
        color: $fourth-color;
        font-size: 70px;
        text-align: center;
    }
    p {
        color: $sixth-color;
        font-family: 'Tox Typewriter', sans-serif;
        font-size: 24px;
        text-align: center;
    }
    .countdown {
        display: flex;
        transform: scale(2);
        .time {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15px;
            margin-top: 50px;
            font-family: 'DIN Next Slab', sans-serif;
            color: $fourth-color;
            h2 {
                font-size: 45px;
                line-height: 1;
                margin: 0 0 5px;
                font-family: 'DIN Next Slab', sans-serif;
                color: $fourth-color;
            }
        }
    }
}
/*countdown ender*/


/*instagram starter*/
.instagram-account {
    background-image: url(../img/texture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    height: 450px;
    /*instagram tekst begynder*/
    .insta-left{
        display: inline;
        align-self: center;
        box-sizing: border-box;
        h1 {
            font-family: 'Mocha Mattari';
            color: $fourth-color;
            font-size: 90px;
            text-align: center;
        }
        p {
            color: $fifth-color;
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 24px;
            text-align: center;
        }
        .instagram-button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: 0.3s;
            margin-top: 70px;
            a {
                font-family: 'DIN Next Slab', sans-serif;
                color: $fourth-color;
                padding: 15px 50px;
                border-radius: 8px;
                font-size: 16px;
                transition: 0.3s;
                background-color: $primary-color;
            }
            a:hover {
                border: 1px solid $fourth-color;
            }
        }
    }
    /*instagram tekst ender*/


    /*images fra instagram begynder*/
    .instagram-images {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 85px;
        margin-right: 120px;
        .instagram-images-1 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                width: 350px;
                border-radius: 20px;
            }
        }
        .instagram-images-2 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                width: 350px;
                border-radius: 20px;
            }
        }
        .instagram-images-3 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                width: 350px;
                border-radius: 20px;
            }
        }
    }
    /*images fra instagram ender*/
}
/*instagram ender*/


/*hjælp starter*/
.hjælpecenter {
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 0;
    padding-left: 0;
    display: inline;
    align-self: center;
    h1 {
        font-family: 'Mocha Mattari';
        color: $fourth-color;
        font-size: 50px;
        text-align: center;
        margin: 50px 0 30px 0;
        padding: 0;
    }
    p {
        color: $sixth-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'DIN Next Slab', sans-serif;
    }
    .lør-søn {
        margin-bottom: 35px;
    }
    .hjælpecenter-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
        margin: 50px 0px 70px 0;
        text-align: center;
        a {
            font-family: 'DIN Next Slab', sans-serif;
            color: $fourth-color;
            padding: 15px 50px;
            border-radius: 8px;
            font-size: 16px;
            transition: 0.3s;
            background-color: $secondary-color;
        }
        a:hover {
            border: 1px solid $fourth-color;
        }
        :active {
            border: 2px solid $fourth-color;
        }
    }
}
/*hjælp ender*/


/*nyhedsbrev starter*/
.nyhedsbrev {
    background-image: url(../img/white-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 0;
    padding-left: 0;
    display: inline;
    align-self: center;
    h1 {
        font-family: 'Mocha Mattari';
        color: $secondary-color;
        font-size: 50px;
        text-align: center;
        margin: 50px 0 70px 0;
    }
    .nyhedsbrev-input {
        font-family: 'DIN Next Slab', sans-serif;
        display: flex;
        gap: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $third-color;
        margin-bottom: 116px;
        .form-floating .form-control {
            width: 300px;
            border-radius: 8px;
        }
        .form-control:focus {
            box-shadow: none;
        }
    }
    .nyhedsbrev-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
        margin: 50px 0px 70px 0;
        text-align: center;
        a {
            color: $fourth-color;
            font-family: 'DIN Next Slab', sans-serif;
            padding: 15px 70px;
            border-radius: 8px;
            font-size: 16px;
            transition: 0.3s;
            background-color: $secondary-color;
        }
        a:hover {
            border: 3px solid $primary-color;
        }
        :active {
            border: 3px solid $primary-color;
        }
    }
}
/*nyhedsbrev ender*/


/*media starter*/
@media only screen and (max-width: 1500px) {
    .instagram-account {
        .instagram-images {
            display: flex;
            align-items: center;
            gap: 22px;
            margin-top: 100px;
            margin-right: 50px;
            .instagram-images-1 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-2 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-3 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
        }
    }
}   
        

@media only screen and (max-width: 1400px) {
    .instagram-account {
        .insta-left {
            display: inline;
            h1 {
                font-size: 80px;
            }
        }
        .instagram-images {
            display: flex;
            align-items: center;
            gap: 18px;
            margin-top: 110px;
            margin-right: 50px;
            .instagram-images-1 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-2 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
            .instagram-images-3 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left center;
                img {
                    width: 300px;
                }
            }
        }
    }

    .nyhedsbrev {
        .nyhedsbrev-input {
            gap: 16px;
            .form-floating .form-control {
                width: 250px;
                border-radius: 8px;
            }
        }
    }
}

@media only screen and (max-width: 1355px) {
    .instagram-account {
        .instagram-images {
            margin-right: 20px;
        }
    }
}

@media only screen and (max-width: 1282px) {
    .instagram-account {
        height: 70vh;
        .insta-left{
            h1 {
                margin-top: 50px;
            }
            .instagram-button {
                margin-top: 40px;
            }
        }
        .instagram-images {
            margin: 50px 10px;
            gap: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .nyhedsbrev {
        .nyhedsbrev-input {
            gap: 14px;
            .form-floating .form-control {
                width: 200px;
                border-radius: 8px;
            }
        }
    } 
}

@media only screen and (max-width: 1050px) {
    .instagram-account {
        .insta-left {
            h1 {
                margin-top: 0;
            }
        }
        height: 50vh;
        .instagram-images-1 {
            margin-top: 80px;
        }
        .instagram-images-2 {
            display: none;
        }
    
        .instagram-images-3 {
            display: none;
        }
    }

    .hjælpecenter {
        h1 {
            font-size: 45px;
        }
    }

    .nyhedsbrev{
        h1 {
            font-size: 45px;
        }
    }
}

@media only screen and (max-width: 950px) {
    .instagram-images-1 {
        width: 400px;
    }
}

@media only screen and (max-width: 950px) {
    .hjælp-brev {
        display: flex;
        flex-direction: column;
        .nyhedsbrev {
            .nyhedsbrev-input {
                gap: 24px;
                .form-floating .form-control {
                    width: 300px;
                    border-radius: 8px;
                }
            }
        }
    }  
}

@media screen and (max-width: 900px) {
    .countdown-col {
        height: 40vh;
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 18px;
            margin-bottom: 50px;
        }
        .countdown {
            .time {
                margin: 15px 10px;
                h2 {
                    font-size: 30px;
                }
                small {
                    font-size: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .instagram-account {
        .instagram-images {
            margin-right: 0px;
            padding-left: 0px;
        }
    }
}

@media only screen and (max-width: 736px) {
    .instagram-account {
        height: 70vh;
        .insta-left {
            h1 {
                margin-top: 50px;
            }
        }
        .instagram-images {
            margin-top: 0px;
            margin-right: 0px;
            padding-left: 90px;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 660px) {
    .hjælp-brev {
        display: flex;
        .nyhedsbrev {
            .nyhedsbrev-input {
                gap: 16px;
                margin-bottom: 80px;
                .form-floating .form-control {
                    width: 250px;
                    border-radius: 8px;
                }
            }
            .nyhedsbrev-button {
                margin-top: 0px;
            }
        }

    }  
}

@media screen and (max-width: 650px) {
    .countdown-col {
        h1 {
            font-size: 45px !important;
        }
        .countdown {
            .time {
                h2 {
                    font-size: 24px;
                }
            }
        }
    }
}
/*media ender*/


.footer-parent {
    background-image: url(../img/texture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    padding: 0;

    /*logo starter*/
    .footer-logo-img {
        padding: 0 10%;
        height: 350px;
        margin-top: 75px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /*logo ender*/


    /*links starter*/
    .footer-links {
        padding: 0 10%;
        display: flex;
        gap: 40px;
        margin: 50px 0;
        justify-content: center;
        align-items: center;
        a {
            color: $fourth-color;
            font-family: 'DIN Next Slab', sans-serif;
            font-size: 18px;
            :hover {
                color: $primary-color;
            }
        }
    }
    /*links ender*/


    /*vælg sprog starter*/
    .footer-dropdown-row {
    padding: 0 10%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
        .footer-dropdown {
            border-radius: 8px;
            align-items: center;
            a {
                color: $secondary-color;
                font-family: 'DIN Next Slab', sans-serif;
                padding: 0 20px;
            }
            .dropdown {
                display: flex;
                border-radius: 8px;
                width: 200px;
                align-items: center;
                background-color: $fourth-color;
                .footer-dropdown-box {
                    display: flex;
                    align-items: center;
                    .footer-choose-language {
                        margin: 0;
                        color: $secondary-color;
                        display: inline;
                    }
                    img {
                        height: 60px;
                        padding-left: 20px;
                    }
                }
                .dropdown-menu {
                    background-color: $fourth-color;
                    width: 200px;
                    :hover {
                        background-color: $primary-color;
                        color: $fourth-color;
                    }              
                    a {
                        padding: 10px 20px;
                    }
                }
            }
        } 
    }   
    /*vælg sprog ender*/
}


/*sociale medier starter*/
.footer-some {
    padding: 0 10%;
    .footer-some-logo {
        margin: 75px 0 50px 0;
        display: flex;
        justify-content: center;
        gap: 24px;
        transition: 0.3s;
        a {
            :hover {
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
        img {
            height: 60px;
        }
    }
}

/*sociale medier ender*/


/*ekstra oplysninger starter*/
.footer-address {
    padding: 0 10%;
    color: $fourth-color;
    font-size: 18px;
    margin-bottom: 25px;
    font-family: 'DIN Next Slab', sans-serif;
    text-align: center;
}

.footer-cookie {
    padding: 0 10%;
    color: $fifth-color;
    margin-bottom: 50px;
    font-family: 'DIN Next Slab', sans-serif;
    text-align: center;
}

.footer-copyright {
    color: $fourth-color;
    width: 100%;
    background-color: $secondary-color;
    filter: opacity(50%);
    margin: 0;
    padding: 24px 0;
}

.footer-copyright p {
    margin: 0;
    font-family: 'DIN Next Slab', sans-serif;
    text-align: center;
}
/*ekstra oplysninger ender*/


/*media begynder*/
@media only screen and (max-width: 1490px) {
    .footer-dropdown {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .footer-dropdown {
        padding-left: 80px;
    }
}

@media only screen and (max-width: 1080px) {
    .footer-dropdown {
        padding-left: 90px;
    }
}

@media only screen and (max-width: 970px) {
    .footer-dropdown {
        padding-left: 100px;
    }
}

@media only screen and (max-width: 880px) {
    .footer-dropdown {
        padding-left: 120px;
    }
}

@media only screen and (max-width: 730px) {
    .footer-parent {
        .footer-logo-img {
            height: 300px;
        }
    }

    .footer-dropdown {
        padding-left: 140px;
    }
    
    .footer-links {
        display: flex;
        flex-direction: column;
        p {
            margin: 0;
        }
    }
}
/*media slutter*/