@use "typography" as *;
@use "colors" as *;

/*nav*/
.navbar {
    background-image: url('../img/texture.png');
    min-height: 80px;
    height: 110px;
    position: fixed;
    padding: 0 10% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: none;
    display: flex;
    .logo {
        img {
            height: 90px;
            margin: 10px 0;
        }
    }
    .navbar-language {
        color: $fourth-color;
        font-size: 20px;
        font-family: "DIN Next Slab", sans-serif;
    }
    .navbar-toggler {
        background-color: $primary-color;
        box-shadow: none;
    }
    .offcanvas {
        background-image: url(../img/white-background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        .hamburger-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            img {
                height: 200px; 
            }
        }
        .nav-item {
            padding-left: 80px;
            a {
                color: $third-color;
                padding: 16px 0;
                
            }
            a:hover {
                color: $primary-color;
            }

            #sponsor {
                margin-bottom: 40px;
            }

            .frivillig-button {
                a {
                    background-color: $primary-color;
                    padding: 15px 20px;
                    color: $fourth-color !important;
                    border-radius: 8px;
                    font-family: 'DIN Next Slab', sans-serif;
                    
                }
                a:hover {
                    border: 1px solid $secondary-color;
                }
            }

            .frivillig {
                background-color: $primary-color;
                    padding: 15px 20px;
                    color: $fourth-color !important;
                    border-radius: 8px;
                    font-family: 'DIN Next Slab', sans-serif;
            }

            .frivillig-button {
                :hover {
                    border: 1px solid $secondary-color;
                }
            }
            
        }
        .offcanvas-header {
            .btn-close:focus {
                box-shadow: none;
            }
        }
    }
}



/*frontpage*/

.frontpage {
    height: 100vh;
    background-image: url(../img/baby-back-ribs1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 0 10% !important;
    .text {
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0;
        }

        .fp2 {
            margin-top: -30px;
            margin-bottom: 50px;
            z-index: 2;
        }

        a {
            padding: 15px 60px;
            transition-duration: 0.2s;
            background-color: $primary-color;
            border-radius: 8px; 
            margin-top: 30px;
        }

    }

    
}


    
