@import url('//db.onlinewebfonts.com/c/c11f09354fd4806c55145d568617bf1a?family=Mocha+Mattari');
@import url('https://fonts.cdnfonts.com/css/tox-typewriter');
@import url('https://fonts.cdnfonts.com/css/din-next-slab');


/*font-family: 'Mocha Mattari';
font-family: 'Tox Typewriter', sans-serif;
font-family: 'DIN Next Slab', sans-serif;
*/


.firstsection {
    color: #f9f9f9;
    
    /*to the right*/
    .dates {
        font-family: 'DIN Next Slab', sans-serif;
        font-size: 17px;
        color: #1a1a1abb;
        margin-bottom: 5px;
    }
    
    h1 {
        font-family: 'Mocha Mattari';
        font-size: 65px;
        margin-bottom: 50px;
    }

    .underline {
        font-family: 'Tox Typewriter', sans-serif;
        font-size: 20px;
        color: #f9f9f9;
        margin-bottom: 20px;
    }

    .buttona {
        text-decoration: none;
        font-family: 'DIN Next Slab', sans-serif;
        color: #f9f9f9;
        font-size: 12px;
        margin: 0;
        cursor: pointer;
        background-color: #1a1a1a;
        border-radius: 8px;
        padding: 12px 20px;
        border: none;
    }

    .buttona:hover {
        border: 1px solid #ffffff;
    }

    .buttona:active { 
        border: 2px solid #ffffff;
    }

    /*to the left */
    .lefth1 {
        font-family: 'Mocha Mattari';
        font-size: 30px;
        margin-bottom: 10px;
        color: #1a1a1a;
    }

    .viharalt {
        font-family: 'DIN Next Slab', sans-serif;
        font-size: 15px;
        color: #1a1a1a89;
        margin: 2px 40px;
    }

   
    .vinderne {
        font-family: 'Tox Typewriter', sans-serif;
        font-size: 15px;
        color: #1a1a1a; 
        margin: 0;
    }

    @media only screen and (max-width: 990px) {
      
        .dates {
            font-family: 'DIN Next Slab', sans-serif;
            font-size: 15px;
            color: #1a1a1a89;
            margin-bottom: 10px;
        }
        
        h1 {
            font-family: 'Mocha Mattari';
            font-size: 45px;
            margin-bottom: 40px;
        }
    
        .underline {
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 17px;
            color: #f9f9f9;
            margin-bottom: 15px;
        }
    
        .buttona {
            text-decoration: none;
            font-family: 'DIN Next Slab', sans-serif;
            color: #f9f9f9;
            font-size: 10px;
            margin: 0;
            cursor: pointer;
            background-color: #1a1a1a;
            border-radius: 8px;
            padding: 10px 17px;
            border: none;
        }
    
        .buttona:hover {
            border: 1px solid #ffffff;
        }
    
        .buttona:active { 
            border: 2px solid #ffffff;
        }
       
        .lefth1 {
            font-family: 'Mocha Mattari';
            font-size: 30px;
            margin: 10px 0;
            color: #1a1a1a;
        }
    
        .viharalt {
            font-family: 'DIN Next Slab', sans-serif;
            font-size: 12px;
            color: #1a1a1a89;
            margin: 5px 20px;
    
        }
    
        .vinderne {
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 12px;
            color: #1a1a1a; 
            margin: 0;
        }
    }
}