@use "typography" as *;
@use "colors" as *;


/*nav*/
nav {
    background-image: url('../img/texture.png');
    height: 80px;
    position: fixed;
    padding: 0 10% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        img {
            height: 50px;
        }
    }

    .navbar {
        display: flex;
        align-items: center;

        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            

            li {

                a {
                    padding: 10px 13px;
                }

                .button {
                    background-color: $primary-color;
                    border-radius: 8px; 
                }
            }
        }
       
        .hamburger {
            display: none;
            cursor: pointer;

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: $fourth-color;
            }
        }
       
        @media (max-width: 890px) {
            .hamburger {
                display: block;
            }

            .hamburger.active {
                .bar:nth-child(2){
                    opacity: 0;
                }
                .bar:nth-child(1){
                    transform: translateY(8px) rotate(45deg);
                }
                .bar:nth-child(3){
                    transform: translateY(-8px) rotate(-45deg);
                }

            } 
        }
    } 
}



