@use "typography" as *;



nav {
    background-image: url('../img/texture.png');
    background-repeat: repeat;
    background-size: cover;

    height: 100px;
    position: fixed;
    padding: 0 10% !important;

    .logo {
        height: 70px;
        width: 70px;
        background-color: rgb(203, 122, 122);
    }

    ul {
        list-style-type: none;
        display: flex;
        
        
        li {

            a {
                padding: 8px;
            }
        }
    }

}